.about-me {
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
}

.about-me__title {
  margin: 110px 0 23px 0;
}

.about-me__container {
  display: flex;
  margin: 66px 0 100px 0;
  justify-content: space-between;
}

.about-me__box {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.about-me__picture {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

.about-me__heading {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 0 18px 0;
  padding: 0;
}

.about-me__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  margin: 0 0 26px 0;
}

.about-me__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 0;
  margin: 0 0 99px 0;
}

.about-me__github {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
